.bodyStore{
  text-align: center;
  height: auto;

}
.topSale{
  margin: 0 auto;
}
.topSale-main{

  background: white;
   display: flex;
  align-items: center;
  padding: 20px;

}
.topSale-main hr {
  width: 50px;
  background: rgb(24, 158, 255);
  margin: 0 auto;
  padding: 1px;
  border: none;
}
.titleTopSale {
  
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(24, 158, 255);
}
.itemTopSale {
  width: 270px;
  height: 220px;
  margin: 15px;
  padding: 20px 10px;
  border: 1px solid rgb(24, 158, 255);
  border-radius: 8px;
  display: inline-flex;
  box-shadow: 0px 2px 12px -2px #333333;
}
.itemTopSale:hover, .contentItemTopSale img{
  transform: scale(1.1);
  transition: 1s;
}
.contentItemTopSale{
  display: flex;
  align-items: center;
}
.contentItemTopSale img {
  width: 100%;
}

.contentItemTopSale a{
  color: black;
  display: contents;
}
.contentItemTopSale a:hover{
  color: black;
  display: contents;
  color: rgb(24, 158, 255);
}
.inforItemTopSale {
  padding: 10px;
  float: left;
  text-align: center;
}
#btnBuy {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  float: left;
  color: white;
  background: rgb(24, 158, 255);
  border: none;
  border-radius: 4px;
}
#btnBuy:active {
  transition: all 0s ease 0s;
  background: none;
}
.inforItemTopSale #price {
  color: red;
  padding-top: 15px;
}
#listItemTopSale{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    
    width: 100%;
    margin:0 auto;
}
/*----------------------------flashSale----------------------------------------*/
.flash-sale-main{
  margin-top: 20px;
  background-color: white;
  display: flex;

}
.flash-sale{
  width: 100%;
  position: relative;
  min-height: 350px;

}
.header-flash-sale{
  margin: 0 auto;
  padding: 15px;
}

.header-flash-sale p{
  color: rgb(24, 158, 255);
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.body-flash-sale{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 81.6%;
}
.list-item-flash-sale{
  transition: all 0.5s;
  width: 99999px;
  margin: 0 8px;
  display: flex;
}
#item-type-2{
  width: 300px;
  height: 370px;
  min-height: 353px;
  display: flex;
  margin: 20px 0;
}
.content-type-2{
  width: 100%;
  padding: 20px 15px;
  margin: 0 10px;
  border: 1px solid rgb(24, 158, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 12px -2px #333333;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  align-items: center;
}
.content-type-2 img{
  width: 61%;
  height: 48%;
}
.content-type-2:hover{
  transform: scale(1.1);
  transition: 1s;
}
.content-type-2 a:hover{
  color: black;
  display: contents;
  color: rgb(24, 158, 255);
}
.content-type-2 p{
  padding: 5px;
}
.content-type-2 a{
  color: black;
  display: contents;
}
.content-type-2 #price{
  color: red;
}

.content-type-2 #btnBuy{
  width: 150px;

}
.content-type-2 #price_old{
  text-decoration: line-through;
  color: black;
  margin-right: 15px;
}