*{
    padding: 0;
    margin: 0;
}
.body-cart-main{
    /* display: flex;
    align-items: center; */
    min-height: 70vh;
}
.cart-page{
    width: 80%;
    margin: auto;

}
.cart-page .header-cart-page{
    margin-top: 30px;
    margin-bottom: 10px;
}
.body-cart-page{
    width: 100%;
    margin: 0 auto;
    display: flex;

}
#list-cart-order{
    width: 74%;
    min-width: 560px;
    margin-right:1%;

}
#total-cart-order{
    margin:1%;
    min-width: 290px;
    width: 23%;
    height: auto;
}
#item-cart-order{
    min-width: 560px;
    padding: 10px;
    width: 98%;
    background: #ffffff;
    margin: 1%;
    box-shadow:1px 1px 7px 1px #333333;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
#img-item{
    width: 13%;
    margin:1%;
    text-align: center;
}
#img-item img{
    border-radius: 6px;
    width: 100%;
    border:1px solid #333333;
}
#content-item-cart{
    margin:1%;
    height: auto;
    display: flex;
    width: 83%;
}
 p{
    margin-bottom:3%;

}
#content-item-cart #content-left{
    width: 68%;
    margin:0 1%;
}
#content-item-cart #content-left button {
    width: 150px;
}
#content-item-cart #content-right{
    min-width: 180px;
    width: 28%;
    margin:0 1%;
}
#chooseAmount{
    margin-top: 20px;
    width: 140px;
}
#content-item-cart #content-right #chooseAmount input {
    width: 40px;
    padding: 7px;
    border: 1px solid #e6e6e6;
    background: white;
    border-radius: 2px;
    text-align: center;
}
#content-item-cart #content-right #chooseAmount input:active, span:active {
   border: 1px solid #3498db;
}

#content-item-cart #content-right #chooseAmount span{
    padding: 7px  15px;
    cursor: pointer;
    background: #e6e6e6;

}
#total-cart-order #content-1{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow:1px 1px 10px 1px #333333;
}
#total-cart-order #content-1 p{
    margin-bottom: 20px;
}
#coupon{
    display: flex;
}
#total-cart-order #content-1 input[type=text]{
    padding: 10px;
    width: 160px;
}
#total-cart-order #content-1 input[type=button]{
    background: #0099ff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 60px;
}
#total-cart-order #content-1 input[type=button]:active{
    background: none;
    transition: all .5s ease;
}
#total-cart-order button {
    margin: 20px 0;
    height: 60px;
}
#total-cart-order #content-1 span{
    float: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
#total-cart-order #content-1 .note-1{
    font-size: 14px;
    color: #a6a6a6;
}
hr{
    margin-bottom: 10px;
}

#total-money{
    color: red;
    font-size: 20px;
}
