
#body-item-detail {

    width: 80%;
    min-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 12px -2px #333333;
}
#body-item-detail img{
    width: 100%;
}
#detail-item{
    display: flex;
    justify-items: center;
}
/*ICON*/
.detail-info-item .promotion .fa-gift{
    color: #3498db;
}
.detail-img-item{
    width: 38%;
    padding: 20px 10px;
    position: relative;
    margin: 0 1%;
}
.detail-info-item{
    width: 30%;
    padding: 20px 10px;

}
.detail-delivery{
    width: 22%;
    padding: 20px 10px;
}
.detail-info-item hr{
    padding: 1px;
    border: none;
    background: #3498db;
}
.detail-img-item .zoomWrapper{
    width: 100%;
    height: 100%;
}
.detai-main-img #zoom_03{
    width: 100%;
    height: 75%;
}
#img-sec-item{
    width: 10%;
    margin: 10px 1%;
    display: flex;
}
#img-sec-item img{
    padding: 2px;
    border-radius: 4px;
    border: 2px solid #dddddd;
    width: 100%;
    cursor: pointer;
}
#img-sec-item img:focus {
    border: 2px solid #3498db;
}
#img-main-item{
    width: 95%;
    position: relative;
}
#img-main-item img{
    border: 2px solid #dddddd;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
    margin: 0 1%;
    box-shadow: 0px 2px 12px -2px #333333;

}
.detail-info-item #titleItem{
    font-size: 30px;
}
#trademark #branch{
    color: #3498db;
}
.detail-info-item p{
    margin: 10px 0;
}
.detail-info-item #id_item{
    color: #a6a6a6;
}
.detail-info-item #price{
    color: red;
}
.detail-info-item #forPhone, #type{
    color: #3498db;
}
.detail-info-item .promotion{
    width: 100%;
    border: 2px solid #3498db;
    border-radius: 4px;
}
.detail-info-item .promotion #header-promotion{
    border-bottom: 2px solid #3498db;
    padding: 10px 0;
    text-align: center;
}
.detail-info-item .promotion #content-promotion{
    padding: 20px 0;
    margin-left: 20px;
}
.detail-info-item .promotion #content-promotion li{
    display: inline-block;
}
.detail-info-item .promotion #content-promotion ul{
    margin: 10px 0;
}
.detail-info-item #chooseAmount input {
    width: 30px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    background: white;
    border-radius: 2px;
    text-align: center;
}
.detail-info-item #chooseAmount input:active {
   border: 1px solid #3498db;
}

.detail-info-item #chooseAmount span{
    padding: 7px  15px;
    cursor: pointer;
    background: #e6e6e6;

}
.detail-info-item button {
    background: #ff1a1a;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}
.detail-info-item button:active {
    background: #ff4d4d;
    transition: all 0.01s ease;
}

#body-item-detail .delivery{
    display: flex;
    margin-bottom: 20px;
}

#body-item-detail .delivery .icon-delivery{
    max-width: 30%;
}
#body-item-detail .delivery .title-delivery{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    height: 70px;
    margin-top: 20px;
    margin-left: 10px;
}



#body-item-detail .tab-detail {
    padding: 10px 50px;
}
#body-item-detail .tab-detail #total-tab-detail .btn-tab{
    padding:3px 20px 40px;
    background: none;
    color: black;
    outline: none;
    font-size: 20px;
    border: none;
}
#body-item-detail .tab-detail #total-tab-detail .btn-tab:focus{
    font-weight: 700;
    border-top: 2px solid #33adff;
}
.tab-detail p{
    margin: 10px 0;
}
.user-comment{
    display: flex;
    margin: 10px;

}
.user-comment .user{
    width: 70px;
    background: #a6a6a6;
}
.user-comment .commnet-rate{
    margin-left: 20px;
}