*{
    padding: 0;
    margin: 0;
}
/*Features-section*/
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto; 
  }
  .mySlides img{
      width: 100%;
      height: 72vh;
      filter: brightness(60%);
      position: relative;
  }
  .text {
    color: #f2f2f2;
    position: absolute;
    bottom: 180px;
    left: 30px;
    display: block;
    /*cho nay con sai*/
    width: 80%;
    text-align: center;
  }
  .text h1{
      font-size: 30px;
      text-align: justify;
      line-height: 1.5;
      position: absolute;  
      bottom: 90px;
      left: 160px;
  }
  .text p{
    font-size: 25px;
    margin-top: 5px;
    text-align: justify;
    position: relative;
    left: 15%;
}
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }

/*Testimonials-section*/
.testimonials-section{
    background-image: linear-gradient( 45deg, rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.85)), url(../img/png-jpg/intro/background3.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    float: left;
    width: 100%;
    color: white;
}
.testimonials-section h2{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 30px;
}
.testimonials-section h2::after{
    content: " ";
    background-color: #fff;
    display: block;
    width: 250px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px 5px;
}
.about-us-section{
    margin: 0 200px;
}
.about-us-section ul{
    margin: 30px 0 ;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.about-us-section li{
    width: max-content;
}
.testimonials-section .information{
    font-size: 17px;
    line-height: 1.7;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}   
blockquote{
    position: relative;
    width: max-content;
    font-size: italic;
    line-height: 140%;
    color: white;
    font-size: 20px;
}
blockquote::before{
    content: "\201C";
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
}
cite{
    display: block;
    color: #bdcedf;
    margin-top: 25px;
    font-size: 20px;
}
cite img{
    height: 150px; /*canh chieu rong va cao*/
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle; /*canh gia theo chieu doc*/
    margin-right: 5px;
}
.testimonials-section .information .fas{
    font-size: 25px;
    margin-right: 10px;
}

.testimonials-section .information li{
    list-style: none;
}

/*======================*/
/*Contact Form*/
.contact-section{
    width: 90%;
    margin: 0 auto;
}
.contact-section .contact{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.contact-section h2{
    margin-top: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #0047eb;
}
.contact-section h2::after{
    content: " ";
    background-color: rgb(247, 0, 0);
    display: block;
    width: 250px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px 5px;
}
.contact-section form{
    border-radius: 5px;
    padding: 25px;
    margin-top: 17px;
    /* margin-left: 25px; */
    background-color: rgba(255,255,255, 0.5);
    width: 325px;
    height: 370px;
    float: left;
}
.contact-section .contact-infor{ 
    float: left;
    margin-left: 120px;
    margin-top: 15px;
    background-color: #fff;
}
.contact-section form h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-section input, textarea{
    border:  1px solid rgb(175, 171, 171);
    text-align: left;
    padding: 5px;
    display: block;
    border-radius: 15px;
    outline: none;
}
.contact-section #ho{
    width: 75px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.contact-section #ten{
    width: 115px;
    display: inline-block;
}
.contact-section #phone{
    margin-bottom: 10px;
    width: 200px;
}
.contact-section #gmail{
    width: 200px;
}
.contact-section textarea{
    margin-top: 15px;
    resize: none;
    height: 100;
    width: 200px;
}
.contact-section button{
    width: 125px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    background-color: #53bbff;
    color: white;
    margin-top: 15px;
    margin-left: 30px;
}
.contact-infor li{
    margin-top: 10px;
    margin-left: 15px;
    list-style: none;
    font-size: 18px;
    padding-bottom: 5px;
}
.contact-infor .fas{
    margin-right: 5px;
    font-size: 20px;
}
.contact-infor iframe{
    margin-top: 10px;
    width: 500px;
    height: 250px;
    border-radius: 5px;
}