*{
    padding: 0;
    margin: 0;
}
.body-location-page {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.body-location-page .fa-map-marker-alt{
    color: red;
    font-size: 18px;
    margin: 5px;
}
.body-location-page #title{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 7px;
    opacity: 1;
    font-size: 25px;
    color: #000000;
}
.body-location-page #title::after{
    content: " ";
    background-color: #e74c3c;
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 3px;
}
.content-location-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-location-page #list-location{
    width: 48%;
    min-width: 500px;
    margin: 0 1%;
}
#map-store{
    width: 45%;
    min-width: 600px;
    margin-right:2%;
}
.content-location-page #list-location li{
    height: 65px;
    padding: 10px;
    background-color: #ffffff;
}
.content-location-page #list-location li:hover{
    background-color: #a6a6a6;
}
.content-location-page #list-location li:not(:last-child){
    content: " ";
    border-bottom: 1px solid red;
}