/* The Modal (background) */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  padding-left: 8px;
}

#Click_Popup {
  display: inline;
  cursor: pointer;
  padding: 0px 10px;
}
.modal {
  position: relative;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color */
  /*background-color: rgba(0, 0, 0, 0.9);  Black w/ opacity */
}
.Modal-main {
  font-family: sans-serif;
  position: relative;
  background: white;
  color: #0099ff;
  margin: 0 auto;
  width: 380px;
  height: auto;
}
/* The Close Button */
#close {
  position: absolute;
  top: 2%;
  left: 87%;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 2;
}
#back {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  display: none;
}
#back:hover,
#back:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 1600px){
	.modal-content {
	  width: 100%;
	}
  } */

.Modal-main hr {
  border: 1px solid #0099ff;
  width: 80%;
  margin: 0 auto 20px;
}
.Modal-main h3 {
  text-align: center;
  padding: 30px 0 10px;
  font-size: 30px;
}
.Form-Login-body {
  padding: 0px 20%;
  margin: 0 auto;
}
.Form-Login-body p {
  color: black;
  font-size: 15px;
  padding: 20px 0 10px;
  font-weight: 500;
}
.Form-Login-body input {
  width: 96%;
  height: 25px;
  border-radius: 4px;
  border: 1px solid black;
}
.Form-Login-body i {
  position: absolute;
  top: auto;
}
.checkbox input {
  float: left;
  width: 10%;
}
.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
}
.checkbox span {
  font-weight: 100;
  /* color: #33ccff; */
  font-size: 15px;
  padding: 0px 3px;
}
.routeRegisterLogin {
  font-weight: 500;
  margin-left: 50px;
  color: #4db8ff;
}
#btnSubmit {
  padding: 10px 0px 30px;
}
.submitSign {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  background: #0099ff;
  border: none;
}
.submitSign:active,
.submitSign:hover {
  background: #80ccff;
  transition: 0.1s;
}
#MessageErrorAccount {
  transition: all 0.5s;
  text-align: center;
  font-weight: normal;
  color: red;
  font-size: 15px;
  display: none;
  padding: 10px 0;
}
#regulationPassword {
  position: absolute;
  top: 111px;
  right: 40px;
  display: none;
}
#regulationPassword:hover #contentReqPassowrd{
  display: block;
}
#regulationPassword i {
  color: red;
  position: relative;
}
#contentReqPassowrd {
  border-radius: 4px;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: 250px;
  font-weight: 100;
  font-size: 15px;
}
#contentReqPassowrd li {
  color: rgb(35, 12, 245);
  padding: 7px 10px;
}
#regulationPassword i:hover {
  display: inline-block;
}
#colorStrongPassword {
  display: none;
  height: 2px;
  border-radius: 4px;
  margin: 5px 0px;
  padding: 2px;
  width: 0%;
}
/*---------------------NEW------------------------------*/
.body-user{
  background: linear-gradient(to right, #5433FF, #20BDFF);
  height: 93vh;

}
.wrapper{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-user{
  width: 410px;
  max-width: 500px;
  background: #ffffff;
  margin:0 auto;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}
.layout-user .title{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0;
  background: linear-gradient(to left, #5433FF 40%, #20BDFF 60%);;
  -webkit-background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
}
.layout-user hr{
  background: #20BDFF;
  border: none;
  padding: 1px;
}
.social{
  display: flex;
  align-items: center;
    text-align: center;
    justify-content: center;
}
.wrapper-social{
  margin: 0 5px;
}
#icon-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: .21px;;
  background: #4267b2;
  padding-right: 10px;
}
#icon-facebook img{
  margin-right: 10px;
  width: 36px;
  border-radius: 4px;
}
.form-user{
  font-size: 14px;
  padding: 0 70px;
  margin-top: 20px;
  position: relative;
}
.inputPassword{
  position: relative;
}
.inputPassword #showSignIn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}


#form-user-input{
  text-align: left;
  display: flex;
  flex-direction: column;
}
#form-user-input input{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  background: none;
  text-shadow: none;
  border: 1px solid black;
  margin-top: 10px;
}
#form-user-input input:focus{
  border: 1px solid #20BDFF;
}
.form-user button:active{
  background: none;
  transition:all 1s ease;
}
.form-user p {
  margin: 20px 0;
}
#form-user-input ul{
  margin: 10px 0;
}
#txtCenter{
  text-align: center;
  margin: 15px;
}

#forgot-register {
  margin-left:8px;
  color:#0099ff;
}
#register-label{
  width: 48%;
}
#register-label li {
  padding: 15px;
  font-size: 16px;
}
#register-input {
  width: 50%;
}