*{
    padding: 0;
    margin: 0;
}
.body-search{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  min-height: 71vh;
}
.layout-adver{
  width: 15%;
  margin:0 1%;
}
.layout-adver img{
  width: 100%;
}
.layout-search{
  width: 68%;
  background: #ffffff;

}
.top {
  margin-top: 20px;
  margin-left: 20px;
}

.top .title{
  font-size: 20px;
  margin: 10px 0;
}
#txtValueSearch,#total-item {
  color: #737373;
}
.layout-search .top #sortItem{
  font-size: 14px;
  padding: 10px;
}
#body-search-page{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#search-page-item {
  background: red;
  width: 300px;
  min-height: 353px;
  display: flex;
  margin: 20px 0;
}