* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
body {
  background: #e6e6e6;
}
a , li {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}
button {
  color: white;
  cursor: pointer;
}
i {
  color: white;
}

.Clearfix {
  clear: both;
  position: relative;
}
#price {
  color: red;
}
#trademark{
  color: #0099ff;
  cursor: pointer;
}
.col-1 {
  width: 6.333333333%;
  float: left;
  margin: 0 1%;
}
.col-2 {
  width: 14.66666667%;
  float: left;
  margin: 0 1%;
}
.col-3 {
  width: 23%;
  float: left;
  margin: 0 1%;
}
.col-4 {
  width: 31.33333333%;
  float: left;
  margin: 0 1%;
}
.col-5 {
  width: 39.66666667%;
  float: left;
  margin: 0 1%;
}
.col-6 {
  width: 48%;
  float: left;
  margin: 0 1%;
}
.col-7 {
  width: 56.33333333%;
  float: left;
  margin: 0 1%;
}
.col-8 {
  width: 64.66666667%;
  float: left;
  margin: 0 1%;
}
.col-9 {
  width: 73%;
  float: left;
  margin: 0 1%;
}
.col-10 {
  width: 81.33333333%;
  float: left;
  margin: 0 1%;
}
.col-11 {
  width: 89.66666667%;
  float: left;
  margin: 0 1%;
}
.col-12 {
  width: 98%;
  float: left;
  margin: 0 1%;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/*-----------------ICON-------------------*/
.fa-star {
  color: #dddddd;
}
.fa-chevron-left{
  color: black;
}
.icon-left-right{
  position: absolute;
  top: 55%;
  left: -0;
  display: inline-block;
}
.icon-left-right img{
  width: 150px;
}
.fa-eye,.fa-eye-slash{
  color: black;
}
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
/* .ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
} */
.ribbon span {
  position: absolute;
  display: block;
  width: 195px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  /* z-index: 2; */
}

/* top left*/
.ribbon-top-left {
  top: 0px;
  left: 0;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -15px;
  top: 25px;
  transform: rotate(-45deg);
}






.header-logo-left {
  display: flex;
  align-items: center;
  float: left;
}
.header-logo-left img {
  border-radius: 5px;
  background: #f2f2f2;
  width: 50px;
}
marquee {
  margin-left: 20px;
  color: white;
}
marquee p {
  font-size: 30px;
}
.header {
  width: 100%;
  /* position: fixed; */
  z-index: 2;

}
.header-main {
  width: 100%;
  /* background: rgb(24, 158, 255); */
  background: #3385ff;
  display: flex;
  align-items: center;
}
.header-logo-left {
  width: 80%;
  padding: 7px;
  display: flex;
}

#userPass {
  color: white;
  font-weight: 800;
  width: 500px;
  display: flex;
  flex-direction: row;
}
#userPass a {
margin-left: 15px;
display: flex;
display: inline-flex;
}
#userPass span {
  margin-left: 5px;
  cursor: pointer;
}
.header-main a {
  color: white;
}
.logoK2Store img {
  border-radius: 5px;
  background: #f2f2f2;
  width: 45px;
}

/*------------------------------------------------*/
.HeaderSearch {
  float: left;
  width: 100%;
  padding: 10px 0px;
  background: #0099ff;
  position: relative;
}
.Header-Search {
  position: relative;
}
.Header-Search input {
  height: 43px;
  width: 98%;
  border: 1px solid #bfbfbf;
  color: black;
  font-size: 18px;
  background: white;
  padding-left: 10px;
  outline: none;
  border-radius: 4px;
  position: relative;
}
.Header-Search .btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  background: #57b9fa;
  height: 43px;
  border-radius: 4px
}
.Header-Search .btnSearch:active,
.btnSearch:hover {
  background: hsl(204, 94%, 66%);
}
.Header-Search ul{
  position: relative;
	transform: scaleY(0);
  transition: all .5s ease 0s;
  z-index: 1;
}
.active-list-search ul {
  transform: scaleY(1);
}

.Header-Search .btnSearch:active {
  background: white;
  transition: all 0.2s;
}
.Header-Search ol{
  text-align: center;
  padding: 10px;
}
.Header-Search ol > a {
  color: black;
}
.Header-Search #total_item{
  color: red;
}
#input-search:active .Header-Search{
  transform: scaleY(1);
}

#content-search{
  background: white;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
  width: 100%;
}
#list-content-search{
  padding: 10px;
}
#item-search{
  color: #000;
  display: flex;
  align-items: center;
  padding:0 10px;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
  margin: 5px 0;
}
#item-search:hover{
  box-shadow: 0px 2px 12px -3px #333333;

}
#item-search img {
  width: 80px;
}
#item-search #title{
  font-size: 16px;
  font-weight: bold;
}
#item-search #price{
  color: red;
  padding-top: 5px;
}
#title-item-search {
  margin-left: 20px;
}
.iconCart {
  margin: 0 auto;
  text-align: center;
  color: white;
  border: 1 solid white;
}
.title-carts ol{
  padding: 14px;
  border: 1px solid white;
  width: 120px;
  border-radius: 12px;
}
.CartLanding hr{
  width: 90%;
  background: rgb(24, 158, 255);
  margin: 0 auto;
  padding: 1px;
  border: none;
}
.list-menu-dropdown-list .txtShowAll{
  margin: 20px 0;
  text-align: center;
  width: 100%;
  color: #0099ff;
  float: left;
}
.iconCart span {
  padding-left: 5px;
}
.item-cart img {
  margin-top: 15px;
  float: left;
}
.item-cart span{
  margin-left: 5px;
  color: red;
}
.item-cart p{
  margin-left: 10px;
  margin: 7px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight:600;
  color:#000;
  float: left;
  width: 56%;
}

.item-cart {
  display: block;
  width: 100%;
  float: left;
  padding: 10px;
  min-width: 220px;
}
.item-cart:hover{
  box-shadow: 0px 2px 12px -2px #333333;
}

#name-item-cart{
  white-space: nowrap; 
  width: 55%; 
  overflow: hidden;
  text-overflow: ellipsis;
}
#txtgiatien{
  white-space: nowrap; 
  width: 50%; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-cart img{
	width: 70px;
}
.Header-Menu {
  color: white;
  float: left;
  width: 100%;
}
.list-menu{
  position: relative;
  min-width: 200px;
  margin-right: 1%;

}

.list-menu ul {
	position: relative;
	transform: scaleY(0);
  transition: all .5s ease 0s;
  z-index: 3;
}


.title-menu ol{
  font-size: 20px;
  background: rgb(0, 128, 255);
  font-weight: 800;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  padding: 12px;
}
.list-menu-dropdown-list{
  background: white;
  position: absolute;
	left: 0;
	top: 0;
  width: 100%;
  min-width: 220px;
  border-radius: 2px;
  box-shadow: 1px 3px 12px -3px #333333;
  
}
#triangle{
  border: 20px solid transparent;
  border-bottom-color: white;
  position: absolute;
  top: -40px;
  left: 0px;
}
.item_menu span{
  margin-left: 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight:700;
	color:#000;
}
.item_menu:hover{
	background: #DDD;
}
.item_menu{
	display: flex;
	padding: 10px;
}
.item_menu img{
	width: 10px;
}
.list-menu:hover ul{
    transform: scaleY(1);
}

/*---------------Menu-Infor---------------*/
.menu-infor p {
  float: left;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 30px;
  cursor: pointer;
}
.menu-infor p:hover {
  transform: scale(1.2);
  border: white;
}

/* BODY - PAGE */
.body-header {
  /* margin-top: 130px; */
  padding: 20px 0px;
  width: 100%;
  float: left;
  display: flex;
}
.main-advance {
  display: flex;
}
.adver-grab {
  width: 19%;
  margin: 0 1%;
}
.adver-grab-center{
  width: 59%;
  margin: 0 1%;
}
.adver-grab img {
  width: 100%;
  height: 59vh;
}
#post-card-center {
  height: 15vh;
}
#post-card-center img {
  height:13vh;
}
.adver-center {
  display: flex;
  width: 100%;
}
.adver-center img {
  height: 44vh;
  width: 50%;
  margin: 0 1%;
}
.adver-bottom img{
  width: 98%;
  height: 20vh;
  margin: 20px 1%;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}

.threedot {
  position: absolute;
  top: 10vh;
  left: 46%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*------------------------------------------*/


.loader {
  position: absolute;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  /* border-radius: 50%; */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checked {
  color: orange;
}
/*-----------------BUTTON-------------------*/

.btn-design {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-design:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-design:focus {
  outline: none;
}
.btn-design.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
    );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-design.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
    );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-design.color-3 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
    );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-design.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
    );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-design.color-5 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
    );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-design.color-6 {
  background-image: linear-gradient(
    to right,
    #009245,
    #fcee21,
    #00a8c5,
    #d9e021
    );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-design.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
    );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-design.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
    );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-design.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
    );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-design.color-10 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
    );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-design.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
    );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}     

#pagination{
  margin: 20px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
#number-pagination{
  display: flex;
}
#pagination li{
  padding:8px 15px;
  border:2px solid #3385ff;
  margin: 0 2px;
  border-radius: 6px;
}
#pagination #goto{
  border:2px solid #3385ff;
  border-radius: 6px;
  width: 50px;
  height: 40px;
  text-align: center;
  
}
#pagination p{
  padding:12px 10px;
  margin: 0 2px;
  border-radius: 4px;
  background: #d9d9d9;
  cursor: pointer;
}
footer{
  text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
    display: flex;
    text-align: left;
  font-family: "Roboto", sans-serif;
    
}
footer ul{
  width: 90%;
  float: right;
}
footer img {
  width: 40px;
  margin-top: 5px;
}
footer ul p{
  margin: 10px 0;
}
footer ul li{
  color: #999999;
  margin: 3px 0;
}
footer ol{
  float: right;
}